body {
	--date-border-color: #3b7dbf;
	--news-bg-color: #eaebec;
	--news-text-color: #6a6f73;
	--course-icon-color: #3b7dbf;
}

#banner{
	-webkit-background-size: cover;
	background-size: cover;
}

#banner a{
	display: block;
	margin-top: 1.5em;
	min-width: 220px;
    border-radius: 50px;
    padding: 1em 2.6em;
    background: #fff;
    color: #0c0b64;
    text-align: center;
}

#bannerImage{
	width: 50%;
	max-width: 50%;
	height: 370px;
	overflow: hidden;
}

#bannerImage img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
}

#banner .text{
	min-width: 50%;
	z-index: 1;
	color: #fff;
	background: var(--main-color);
}

#banner h2{
	font-family: Black, sans-serif;
	font-family: Regular, sans-serif;
	text-align: center;
	font-size: 3.5vw;
	max-width: 95%;
}

#banner h2 span{
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.5em;
	margin-top: 0.3em;
}

#academicsPage>.section-wrapper {
	margin: 3em auto;
}

aside{
	width: 280px;
	flex-basis: 280px;
	flex-shrink: 0;
	border-right: 1px solid #ddd;
	padding: 1em;
}

aside h3{
	font-size: 1.25em;
	margin-bottom: 0.8em;
	color: var(--main-color)
}

aside ul + h3{
	margin-top: 1em;
}

aside ul{
	padding-left: 1em;
}

aside li{
	list-style-type: circle;
}

aside li a{
	display: block;
	padding: 0.8em 0;
	color: #888;
}

aside li.active a {
	color: #000;
}

#academicsContent{
	padding: 0 3em;
	padding-right: 1em;
}

.academic-section{
	/* padding: 4.5em 0; */
}

#academicsPage .academic-section:nth-child(2) {
	margin-top: 2em;
}

#academicsPage .academic-section:last-child {
	margin-bottom: 2em;
}

.academic-section .section-title + p{
	font-size: 1.1em;
	line-height: 1.9;
	max-width: 95%;
	margin-bottom: 0.2em;
}

.academic-section .section-title~a {
	color: var(--main-color);
}

.academic-section .academic-col{
	padding: 0;
	/* border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5; */
}

.academic-section .academic-col:nth-child(n+3) {
	/* border-top: 0; */
}

.academic-section .academic-item {
	text-align: center;
	margin-bottom: 3em;
	background: #fff;
	margin: auto;
	padding-top: 5em;
	padding-bottom: 5em;
	min-height: 100%;
	border: 1px solid #e5e5e5;
}

/* #courseList .col-md-4:nth-child(1) .academic-item, */
.academic-item.greyed {
	background: #f0f0f0;
}

.academic-item.short {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}

.academic-section .course-icon {
	width: 60px;
	height: 60px;
	background: var(--course-icon-color);
	color: #fff;
	border-radius: 50%;
	margin-bottom: 0.9em;
	font-size: 1.1em;
}

.academic-section .course-icon.for-text {
	font-size: 0.85em;
	font-family: SemiBold, sans-serif;
	letter-spacing: 0.5px;;
	padding-top: 0.35em;
}

.academic-item.greyed .course-icon {
	background: transparent;
	border: 2px solid var(--course-icon-color);
	color:  var(--course-icon-color);
}

#courseList .academic-col:nth-child(2) .academic-item .course-icon,
#courseList .academic-col:nth-child(3) .academic-item .course-icon {
	/* background: #ddd; */
	/* color: var(--course-icon-color); */
}

#academicsContent > .row > .col-md-4{
	margin-bottom: 2.2em;
	padding: 0 0.5em;
	position: relative;
}

.course-item{
	padding: 1.8em 1.4em;
	border: 1px solid #ddd;
	min-height: 100%;
}

.course-item .course-title{
	min-height: 100px;
	margin-bottom: 1em;
	border-bottom: 1px solid #e0e0e0;
}

.course-item h5{
	font-family: Light, sans-serif;
	font-size: 1.5em;
	line-height: 1.2em;
	margin-bottom: 0.5em;
}

.course-item small{
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.9em;
	margin-bottom: 1.2em;
}

.course-item small span{
	font-family: Regular, sans-serif;
	color: var(--main-color);
}

.course-item p{
	font-family: Light, sans-serif;
	line-height: 1.9em;
	min-height: 120px;
	color: #333;
	margin-bottom: 0.1em;
}

.academic-section .academic-item h3{
	margin-bottom: 0.5em;
	font-size: 1.8em;
	line-height: 1.1em;
	font-family: Light, sans-serif;
	max-width: 70%;
}

#sectionFaculties .academic-item h3 {
	min-height: 93px;
	margin-top: 0.1em;
}

.academic-section .academic-item a{
	color: var(--main-color);
}
.academic-section .academic-item p{
	color: #555;
	font-size: 0.95em;
	margin-bottom: 1.2em;
	display: none;
}

#courseContent{
	margin: auto;
	max-width: 900px;
}

#courseContent h4{
	font-family: Light, sans-serif;
	font-size: 1.8em;
	margin-bottom: 0.5em;
}

#courseContent > small {
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.85em;
	margin-bottom: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}

#courseContent > small span {
	font-family: Regular, sans-serif;
	color: var(--main-color);
}

#courseContent > p{
	font-family: Lato, sans-serif;
	font-size: 1.15em;
	line-height: 1.8em;
	margin-top: 0.5em;
	color: #555;
}

#courseContent>p:first-of-type {
	margin-top: 1em;
}

#courseContent h5 {
	font-size: 1.25em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

#campusContent {
	max-width: 800px;
	margin: auto;
}

#campusContent p{
	font-family: Light, sans-serif;
	font-size: 1.4em;
	line-height: 1.5em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

#campusContent h4{
	font-size: 1.25em;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

#campusContent #campusMap{
	height: 400px;
	background: #ddd;
}

.module{
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin-bottom: 2.5em;
}

.module label{
	display: block;
	position: relative;
	padding: 1.4em 0.5em;
	padding-right: 1.5em;
}

.module label:after {
	content: "";
	position: absolute;
	right: 0.8em;
	top: 1.6em;
	width: 16px;
	height: 16px;
	background: #fff url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='59.4' height='59.4' fill='%230c0b64'><polygon points='29.7 45.3 0 15.6 1.4 14.1 29.7 42.4 58 14.1 59.4 15.6'/></svg>");
	background-size: 16px;
	transition: transform 0.2s ease-out;
}

.module input:checked + label:after {
	transform: rotate(180deg);
}

.module input {
	display: none;
}

.module h6{
	font-family: Light, sans-serif;
	font-size: 1.45em;
}

.module p{
	font-family: Light, sans-serif;
	line-height: 1.8em;
	font-size: 1em;
	color: #555;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
}

.module input:not(:checked) + label p{
	display: none;
}
/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}