body {
	--date-border-color: #3b7dbf;
	--news-bg-color: #eaebec;
	--news-text-color: #6a6f73;
	--course-icon-color: #3b7dbf;
}

#banner{
	-webkit-background-size: cover;
	background-size: cover;
}

#banner a{
	display: block;
	margin-top: 1.5em;
	min-width: 220px;
    border-radius: 50px;
    padding: 1em 2.6em;
    background: #fff;
    color: #0c0b64;
    text-align: center;
}

#bannerImage{
	width: 50%;
	max-width: 50%;
	height: 370px;
	overflow: hidden;
}

#bannerImage img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
}

#banner .text{
	min-width: 50%;
	z-index: 1;
	color: #fff;
	background: var(--main-color);
}

#banner h2{
	font-family: Black, sans-serif;
	font-family: Regular, sans-serif;
	text-align: center;
	font-size: 3.5vw;
	max-width: 95%;
}

#banner h2 span{
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.5em;
	margin-top: 0.3em;
}

.academic-section{
	padding: 4.5em 0;
}

#academicsPage .academic-section:nth-child(2) {
	margin-top: 2em;
}

#academicsPage .academic-section:last-child {
	margin-bottom: 2em;
}

.academic-section .section-title + p{
	font-size: 1.1em;
	line-height: 1.9;
	max-width: 95%;
	margin-bottom: 0.2em;
}

.academic-section .section-title~a {
	color: var(--main-color);
}

.academic-section .academic-col{
	padding: 0;
	/* border-left: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5; */
}

.academic-section .academic-col:nth-child(n+3) {
	/* border-top: 0; */
}

.academic-section .academic-item {
	text-align: center;
	margin-bottom: 3em;
	background: #fff;
	margin: auto;
	padding-top: 5em;
	padding-bottom: 5em;
	min-height: 100%;
	border: 1px solid #e5e5e5;
}

/* #courseList .col-md-4:nth-child(1) .academic-item, */
.academic-item.greyed {
	background: #f0f0f0;
}

.academic-item.short {
	padding-top: 3.5em;
	padding-bottom: 3.5em;
}

.academic-section .course-icon {
	width: 60px;
	height: 60px;
	background: var(--course-icon-color);
	color: #fff;
	border-radius: 50%;
	margin-bottom: 0.9em;
	font-size: 1.1em;
}

.academic-section .course-icon.for-text {
	font-size: 0.85em;
	font-family: SemiBold, sans-serif;
	letter-spacing: 0.5px;;
	padding-top: 0.35em;
}

.academic-item.greyed .course-icon {
	background: transparent;
	border: 2px solid var(--course-icon-color);
	color:  var(--course-icon-color);
}

#courseList .academic-col:nth-child(2) .academic-item .course-icon,
#courseList .academic-col:nth-child(3) .academic-item .course-icon {
	/* background: #ddd; */
	/* color: var(--course-icon-color); */
}

.academic-section .academic-item h3{
	margin-bottom: 0.5em;
	font-size: 1.8em;
	line-height: 1.1em;
	font-family: Light, sans-serif;
	max-width: 70%;
}

#sectionFaculties .academic-item h3 {
	min-height: 93px;
	margin-top: 0.1em;
}

.academic-section .academic-item a{
	color: var(--main-color);
}
.academic-section .academic-item p{
	color: #555;
	font-size: 0.95em;
	margin-bottom: 1.2em;
	display: none;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}