body {
	--date-border-color: #3b7dbf;
	--news-bg-color: #eaebec;
	--news-text-color: #6a6f73;
	--course-icon-color: #3b7dbf;
}

#banner{
	-webkit-background-size: cover;
	background-size: cover;
}

#banner a{
	display: block;
	margin-top: 1.5em;
	min-width: 220px;
    border-radius: 50px;
    padding: 1em 2.6em;
    background: #fff;
    color: #0c0b64;
    text-align: center;
}

#bannerImage {
	width: 50%;
	max-width: 50%;
	height: 370px;
	overflow: hidden;
}

#bannerImage img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
}

#banner .text{
	min-width: 50%;
	z-index: 1;
	color: #fff;
	background: var(--main-color);
}

#banner h2{
	font-family: Black, sans-serif;
	font-family: Regular, sans-serif;
	text-align: center;
	font-size: 3.5vw;
	max-width: 95%;
}

#banner h2 span{
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.5em;
	margin-top: 0.3em;
}

#sectionEvents{
	margin-top: 3.5em;
	margin-bottom: 3em;
	min-height: 20vh
}

#sectionEvents .section-wrapper{
	max-width: 1250px;
}

.an-event {
	padding: 0.5em 0;
	margin-bottom: 1.6em;
}

.an-event .event-date {
	flex-shrink: 0;
	width: 80px;
	height: 80px;
	border: 2px solid var(--date-border-color);
	color: #000;
	margin-right: 1em;
	border-radius: 50%;
	border-left: 0;
	border-bottom: 0;
	background: #f6f6fd;
}

.an-event .event-date span {
	font-size: 0.9em;
	display: block;
}

.an-event .event-date span:first-child {
	font-size: 1.5em;
	margin-bottom: 0.2em;
}

.an-event .event-info {
	padding: 0.5em 0;
	position: relative;
	overflow: hidden;
}

.an-event h3 {
	font-size: 1.25em;
	width: 85%;
	line-height: 1.3em;
	/* height: 20px; */
	/* white-space: nowrap; */
	/* overflow: hidden; */
	/* -ms-text-overflow: ellipsis; */
	/* text-overflow: ellipsis; */
}

.an-event p {
	margin-top: 0.5em;
	color: #444;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}