body {
	--date-border-color: #3b7dbf;
	--news-bg-color: #eaebec;
	--news-text-color: #6a6f73;
	--course-icon-color: #3b7dbf;
}

#banner{
	/*border-bottom: 1px solid #ddd;*/
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(../img/banner.jpg);
}

#banner .text{
	max-height: 670px;
	height: calc(100vh - 102px);
	z-index: 1;
	color: #fff;
}

#banner h2{
	font-family: Black, sans-serif;
	font-family: Regular, sans-serif;
	text-align: center;
	/* font-size: 4em; */
	font-size: 4vw;
	max-width: 70%;
}

#banner h2 span{
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.5em;
	margin-bottom: 0.1em;
}

#banner:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: var(--main-color);
}

#bannerScroller{
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 3em;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #fff;
}

#bannerScroller svg{
	animation: drop 1.5s infinite;
}

@keyframes drop{
	50%{
		transform: translateY(10%);
	}
}

section{
	padding: 4em 0;
	outline: 0;
}

#sectionEvAn:after{
	content: "";
	width: 30%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.2em;
	margin: auto;
	height: 1px;
	background: #ddd;
	display: none;
}

.an-event{
	padding: 0.5em 0;
	margin-bottom: 1.2em;
}

.an-event .event-date{
	flex-shrink: 0;
	width: 80px;
	height: 80px;
	border: 2px solid var(--date-border-color);
	color: #000;
	margin-right: 1em;
	border-radius: 50%;
	border-left: 0;
	border-bottom: 0;
}

.an-event .event-date span{
	font-size: 0.9em;
	display: block;
}

.an-event .event-date span:first-child{
	font-size: 1.5em;
	margin-bottom: 0.2em;
}

.an-event .event-info{
	padding: 0.5em 0;
	position: relative;
	overflow: hidden;
}

.an-event h3{
	font-size: 1.25em;
	width: 90%;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.an-event p{
	margin-top: 0.5em;
	color: #444;
}

#announcements{
	padding: 1em 0;
	padding-left: 2.2em;
	border-left: 1px solid #ddd;
}

#announcements .section-title{
	/* font-size: 1.3em; */
	/* min-height: 35px; */
}

.an-announcement{
	padding: 0.5em 0;
	line-height: 1.3;
	max-width: 85%
}

.an-announcement:before{
	content: ">> ";
	padding-right: 0.5em;
	align-self: flex-start;
}

#sectionNews{
	background: var(--news-bg-color);
	padding: 6em 0;
	margin-bottom: -2em;
}

#sectionNews .section-title{
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#sectionNews .news-item{
	flex-wrap: wrap;
	margin-bottom: 3em;
}

#sectionNews .news-item .image{
	height: 100%;
	border-radius: 0.25em;
	background: #ddd;
	flex-basis: 40%;
	flex-shrink: 0;
}

#sectionNews .news-item .image img{
	/* width: 100%; */
}

#sectionNews .news-item .text{
	/* flex: 1; */
	padding-left: 1.2em;
	width: 60%;
	overflow: hidden;
}

#sectionNews .news-item span{
	display: block;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	text-transform: uppercase;
	font-family: 'Light', sans-serif;
}

#sectionNews .news-item h3{
	font-size: 1.4em;
	line-height: 1.2;
	margin-bottom: 0.4em;
	max-width: 95%;
}

#sectionNews .news-item p{
	line-height: 1.3;
	color: var(--news-text-color);
	margin-bottom: 0.5em;
	max-width: 90%;
}

#sectionNews .news-item a{
	color: var(--main-color);
}

#ctaJoin{
	margin-bottom: 1.5em;
	background-image: url(../img/cta-join.jpg);
	background-attachment: fixed;
	color: #fff;
}

#ctaJoin span{
	font-family: Light, sans-serif;
	font-size: 1.4em;
	letter-spacing: 2px;
}

#ctaJoin h5 {
	margin-top: 0.1em;
	font-size: 3em;
}

#ctaJoin .btn{
	background: #fff;
	color: #333;
	margin-top: 0.8em;
}

#ctaJoin:after{
	background: rgba(0, 0, 0, 0.58);
}

#sectionCourses{
	margin: 2.5em 0;
}

#sectionCourses .section-title + p{
	font-size: 1.1em;
	line-height: 1.9;
	max-width: 95%;
	margin-bottom: 0.2em;
}

#sectionCourses .section-title~a {
	color: var(--main-color);
}

#courseList .col-md-4{
	padding: 0;
}

#courseList .course-item {
	text-align: center;
	margin-bottom: 2em;
	background: #fff;
	margin: auto;
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-right: 1px solid #e5e5e5;
}

/* #courseList .col-md-4:nth-child(1) .course-item, */
#courseList .col-md-4:nth-child(3n) .course-item {
	/* border-left: 1px solid #ddd; */
	border-right: 0;
}

#sectionCourses .course-icon {
	width: 120px;
	height: 120px;
	background: var(--course-icon-color);
	color: #fff;
	border-radius: 50%;
	margin-bottom: 0.9em;
	font-size: 1.88em;
}

#sectionCourses .course-item h3{
	margin-bottom: 1em;
}

#sectionCourses .course-item a{
	color: var(--main-color);
}
#sectionCourses .course-item p{
	color: #555;
	font-size: 0.95em;
	margin-bottom: 1.2em;
}

#sectionCampus{
	background-size: cover;
	background-image: url(../img/campus.jpg);
	padding: 8em 0;
}

#sectionCampus:after {
	content: "";
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: rgba(0, 0, 0, 0.58);
	/* background-image: linear-gradient((left, rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.58) 40%, rgba(0, 0, 0, 0.1))); */
	background: linear-gradient(70deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0));
}

#sectionCampus .section-wrapper{
	max-width: 1130px;
	max-width: 700px;
	z-index: 1;
}

#sectionCampus .section-title:after{
	display: none;
}

#sectionCampus .section-title{
	padding-bottom: 0.5em !important;
	color: #fff;
	font-size: 3em;
	font-family: Light !important;
}

#sectionCampus .campus-item{
	text-align: center;
}

#sectionCampus .campus-item .image img{
	display: none;
}

#sectionCampus .campus-item .image{
	height: 270px;
	width: 270px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.24);
	border: 5px solid #fff;
	border-left-width: 1px;
	border-bottom-width: 1px;
}

#sectionCampus .campus-item h3{
	font-family: Regular, sans-serif;
	font-size: 1.75em;
	line-height: 1.1;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
	color: #fff;
}

#sectionCampus .campus-item p {
	line-height: 1.7;
	color: #fff;
	/* margin-bottom: 0.8em; */
	font-size: 1em;
	display: none;
}

#sectionCampus .campus-item a{
	font-size: 1.3em;
	color: #cfcfcf;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    #upcomingEvents .row{
		flex-wrap: wrap;
	}
}