#banner{
	/*border-bottom: 1px solid #ddd;*/
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(../img/banner.jpg);
}

#banner .text{
	height: 570px;
	z-index: 1;
	color: #fff;
}

#banner h2{
	font-family: Black, sans-serif;
	text-align: center;
	font-size: 3.1em;
	max-width: 800px;
}

#banner h2 span{
	font-family: Regular, sans-serif;
	display: block;
	font-size: 0.5em;
	margin-bottom: 0.5em;
}

#banner:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background: #003a75;
}

#bannerScroller{
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 3em;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 3px solid #fff;
	opacity: 0.8;
}

#bannerScroller svg{
	animation: drop 1.5s infinite;
}

@keyframes drop{
	50%{
		transform: translateY(10%);
	}
}

section{
	padding: 4em 0;
	outline: 0;
}

#sectionEvAn:after{
	content: "";
	width: 30%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0.2em;
	margin: auto;
	height: 1px;
	background: #ddd;
}

.an-event{
	padding: 0.5em 0;
	margin-bottom: 1.2em;
}

.an-event .event-date{
	flex-shrink: 0;
	flex-basis: 70px;
	height: 60px;
	border: 2px solid currentColor;
	color: #003a75;
	color: #000;
	margin-right: 1em;
}

.an-event .event-date span{
	font-size: 0.9em;
	display: block;
}

.an-event .event-date span:first-child{
	font-size: 1.5em;
	margin-bottom: 0.05em;
}

.an-event .event-info{
	padding: 0.5em 0;
	position: relative;
	overflow: hidden;
}

.an-event h3{
	font-size: 1.1em;
	width: 90%;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.an-event p{
	margin-top: 0.5em;
}

#announcements{
	padding: 3em 2em;
	background: #f0f0f0;
}

#announcements .section-title{
	font-size: 1.3em;
	min-height: 35px;
}

.an-announcement{
	padding: 0.5em 0;
	line-height: 1.3;
	max-width: 85%
}

.an-announcement:before{
	content: ">> ";
	padding-right: 0.5em;
	align-self: flex-start;
}

#sectionNews .section-title{
	position: relative;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
}

#sectionNews .news-item .image{
	height: 245px;
	background: #ddd;
	margin-bottom: 1em;
}

#sectionNews .news-item h3{
	font-size: 1.15em;
	line-height: 1.1;
	margin-bottom: 0.2em;
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#sectionNews .news-item p{
	line-height: 1.3;
	color: #555;
	margin-bottom: 0.5em;
}

#sectionNews .news-item a{
	
}

#ctaJoin{
	margin-bottom: 1.5em !important;
}

#sectionCampus .section-wrapper{
	max-width: 1130px;
}

#sectionCampus .section-title{
	margin-bottom: 0;
}

#sectionCampus .campus-item .image{
	height: 255px;
	background: #ddd;
	margin-bottom: 1.2em;
}

#sectionCampus .campus-item .image img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: top;
}

#sectionCampus .campus-item h3{
	font-size: 1.25em;
	line-height: 1.1;
	margin-bottom: 0.5em;
	max-width: 90%;
	overflow: hidden;
	white-space: nowrap;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

#sectionCampus .campus-item p{
	line-height: 1.5;
	color: #444;
	margin-bottom: 0.8em;
	font-size: 1.05em;
}

#sectionCampus .campus-item a{
	
}

#ctaJoin{
	margin-bottom: 4em;
	background-image: url(../img/cta-join.jpg);
	background-attachment: fixed;
	color: #fff;
}

#ctaJoin .btn{
	background: #fff;
	color: #000;
	margin-top: 0.5em;
}

#ctaJoin:after{
	background: rgba(0, 0, 0, 0.8);
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}