body{
    --main-color: #0c0b64;
    --date-border-color: #403ece;
    --news-bg-color: #f1f1f1;
    --news-text-color: #7b7878;
    --course-icon-color: #4a498e;
    --course-icon-color: #1a1a71;
    --footer-bg-color: #0a0938;
    --footer-text-color: #9595a9;
    --footer-separator-color: #292950;
}

body.show-nav,
body.locked{
    overflow-y: hidden;
}

.section-wrapper{
	max-width: 1400px;
	padding: 0 3em;
	margin: 0 auto;
}

header{
	border-bottom: 1px solid #ddd;
}

header #logo{
    z-index: 1;
    padding: 1em 0;
}

header #logo img{
    width: 50px !important;
    height: 50px !important;
}

#logoImage{
	width: 50px;
	height: 50px;
	padding: 10px;
	border-radius: 50%;
	background: #f0f0f0;
}

#logoImage img{
	width: 100% !important;
    height: auto !important;
    margin-bottom: 0.5em;
}

#logoText{
    font-family: Light, sans-serif;
    font-size: 1.2em;
    margin-left: 1em;
}

nav{
    height: 70px;
}

nav a{
	/* font-family: SemiBold, sans-serif; */
	/* height: 70px; */
	padding: 0.5em 1.1em;
	text-transform: uppercase;
	font-size: 0.95em;
    color: #555;
    min-width: 110px;
    border-style: solid;
    border-color: #ddd;
    /* border-width: 0 1px 0 1px; */
}

nav a + a{
    border-left-width: 1px;
}

nav a.active{
	font-family: SemiBold, sans-serif;
	color: var(--main-color);
	/* color: #000; */
}

#bannerImage{
    background-color: #ddd;
}

.section-title{
	font-family: Bold, sans-serif;
	font-size: 1.7em;
    font-size: 1.4em;
    letter-spacing: 0.04em;
	display: inline-block;
	position: relative;
	min-height: 40px;
    margin-bottom: 1em;
}

.section-title:not(.uncolored){
    color: var(--main-color);
}

.section-title.centered{
	display: block;
	text-align: center;
	padding-bottom: 2.7em;
}

.section-title:after{
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 1px;
	width: 60%;
    background: #555;
}

.section-title:not(.uncolored):after {
    background: #2e4c69;
    background: currentColor;
}

.section-title.centered:after{
	right: 0;
	margin: auto;
	width: 90%;
	max-width: 120px;
	margin-bottom: 1.9em;
}

.image{
	overflow: hidden;
}

.image img{
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: top;
}

.rounded-btn{
    display: inline-block;
    margin-top: 0.9em;
    min-width: 220px;
    border-radius: 50px;
    padding: 1em 2.6em;
    color: #fff;
    background: #0c0b64;
    text-align: center;
}

.rounded-btn.sm{
    min-width: 120px;
    border-radius: 30px;
    padding: 0.6em 1.6em;
}

.rounded-btn.xs{
    min-width: 90px;
    padding: 0.7em 1.3em;
    font-size: 0.8em;
}

.rounded-btn.white {
    color: #0c0b64;
    background: #fff;
}

.rounded-btn.border {
    color: #0c0b64;
    border: 1px solid #0c0b64;
    background: transparent;
}

.cta{
    position: relative;
    background: #ddd;
    -webkit-background-size: cover;
    background-size: cover;
}

.cta:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.cta .text{
    min-height: 300px;
    position: relative;
    z-index: 1;
    text-align: center;
}

.cta .text h5{
    font-size: 2em;
    line-height: 1.3em;
    font-family: Regular, sans-serif;
    font-weight: normal;
    margin-bottom: 0.2em;
}

.cta .text p{
    max-width: 500px;
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 0.9em;
}

.cta .text .btn{
    min-width: 220px;
    border-radius: 50px;
    padding: 1em 2.6em;
    background: #222;
    color: #fff;
}

footer{
	padding-top: 5em;
	padding-bottom: 2em;
	background: var(--footer-bg-color);
	color: var(--footer-text-color);
}

footer .footer-section h5{
	color: #e8ecf1;
	font-size: 1.1em;
	margin-bottom: 1.3em;
}

footer .footer-section a,
footer .footer-section p{
	display: block;
	padding: 0.4em 0;
}

footer .footer-section p span{
	color: #d0d9e2;
	margin-right: 0.5em;
}

footer .section-wrapper{
	max-width: 1150px;
}

footer #copyright{
	font-size: 0.9em;
	margin-top: 2em;
	padding-top: 2em;
	border-top: 1px solid var(--footer-separator-color);
}

footer #copyright a{
	padding: 0 0.6em;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    .for-mob{
        display: none;
    }
}

@media screen and (max-width: 520px){
    .section-wrapper{
        padding-left:20px;
        padding-right:20px;
    }

    .for-lg, .for-md{
        display: none !important;
    }
}