#newsPage > .section-wrapper {
	margin: 3em auto;
}

#newsContent{
	/* max-width: 1000px; */
	margin: auto;
}

#newsContent img {
	height: 460px;
	width: 100%;
	background: #ddd;
	object-fit: cover;
	object-position: top;
	margin-bottom: 1em;
}

#newsContent h2 {
	font-family: Light, sans-serif;
	font-size: 2.2em;
	line-height: 1.2em;
	margin-bottom: 0.4em;
}

#twitterbtn{
	font-size: 14px;
	line-height: 0;
	margin-left: 10px;
	border-radius: 35px;
}

#twitterbtn i {
	margin-left: 1px;
	margin-right: -5px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #08a0e9;
	color: #fff;
	border-radius: 50%;
	z-index: 1;
}

#twitterbtn span{
	border: 1px solid #ddd;
	border-left: 0;
	background: #f8f8f8;
	padding: 0.05em 0;
	padding-left: 16px;
	padding-right: 1.2em;
	border-radius: 0 35px 35px 0;
}

#twitterbtn span:before{
	content: '';
	position: absolute;
	left: -23px;
	width: 35px;
	height: 35px;
	background: #fff;
	border-radius: 35px;
	z-index: 0
}

#newsContent small {
	font-family: Light, sans-serif;
	display: block;
	margin-bottom: 2em;
}

#newsContent strong {
	font-family: Regular, sans-serif;
	color: var(--main-color);
}

#newsContent p {
	font-family: Lato, sans-serif;
	font-size: 1.05em;
	line-height: 2em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	color: #555;
}

#otherNews{
	width: 350px;
	margin-left: 2.5em;
}

#otherNews h3 {
	font-size: 1em;
	line-height: 1.2;
	max-width: 95%;
	color: #555;
	letter-spacing: 0.04em;
	margin-bottom: 1em;
}

.news-item{
	margin-bottom: 2em;
}

.news-item .image{
	height: 90px;
	width: 40%;
	min-width: 40%;
	margin-right: 1em;
}

.news-item h5 {
	font-size: 1.1em;
	line-height: 1.4;
	max-width: 95%;
	color: #222;
}

#otherNews svg{
	width: 24px;
	height: 24px;
	margin-right: 0.8em;
}

#otherNews svg:not(:hover){
	fill: #888;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}