body {
	--date-border-color: #3b7dbf;
	--news-bg-color: #eaebec;
	--news-text-color: #6a6f73;
	--course-icon-color: #3b7dbf;
}

#banner{
	-webkit-background-size: cover;
	background-size: cover;
}

#banner a{
	display: block;
	margin-top: 1.5em;
	min-width: 220px;
    border-radius: 50px;
    padding: 1em 2.6em;
    background: #fff;
    color: #0c0b64;
    text-align: center;
}

#bannerImage {
	width: 50%;
	max-width: 50%;
	height: 370px;
	overflow: hidden;
}

#bannerImage img {
	width: 100%;
	min-height: 100%;
	object-fit: cover;
	object-position: center;
}

#banner .text{
	min-width: 50%;
	z-index: 1;
	color: #fff;
	background: var(--main-color);
}

#banner h2{
	font-family: Black, sans-serif;
	font-family: Regular, sans-serif;
	text-align: center;
	font-size: 3.5vw;
	max-width: 95%;
}

#banner h2 span{
	font-family: Light, sans-serif;
	display: block;
	font-size: 0.5em;
	margin-top: 0.3em;
}

#sectionCourses{
	margin-top: 4.5em;
	margin-bottom: 2em;
}

#sectionCourses .section-title + p{
	font-size: 1.1em;
	line-height: 1.9;
	max-width: 95%;
	margin-bottom: 0.2em;
}

#sectionCourses .section-title~a {
	color: var(--main-color);
}

#staffList .col-md-4{
	/*padding: 0;*/
	/*border-bottom: 1px solid #e5e5e5;*/
}

#staffList .staff-item {
	text-align: center;
	margin-bottom: 2em;
	background: #fff;
	margin: auto;
	/*padding-bottom: 2em;*/
	background: #f0f0f0;
	max-width: 320px;
	min-height: calc(100% - 2.5em);
	margin-bottom: 2.5em;
	/*border-right: 1px solid #e5e5e5;*/
}

/* #staffList .col-md-4:nth-child(1) .staff-item, */
#staffList .col-md-4:nth-child(4n) .staff-item {
	border-right: 0;
}

#staffList .col-md-4:nth-child(n+7){
	border-bottom: 0;
}

#sectionCourses .staff-image {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	background: #ccc;
	color: #fff;
	margin-bottom: 0.9em;
	font-size: 1.48em;
	overflow: hidden;
}

#sectionCourses .staff-image img{
	width: 100%;
	min-height: 100%;
}

#sectionCourses .staff-item h3{
	margin-bottom: 0.4em;
}

#sectionCourses .staff-item a{
	color: var(--main-color);
}
#sectionCourses .staff-item p{
	color: #555;
	font-size: 0.95em;
	margin-bottom: 1.6em;
	max-width: 80%;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 521px){
    
}

@media screen and (max-width: 520px){
    
}